<h1>Compare versions <small>Build path: <%= @build_path %></small></h1>
<p>Compare build path apps to deployed apps</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Build</th>
      <th>Deploy</th>
      <th>Compare</th>
    </tr>
  </thead>

  <tbody>
  <% @apps.group_by(&:name).each do |name, apps| %>
    <% if apps.count != 2 %>
    <tr>
      <td><%= name %></td>
      <td colspan="3">
        2 apps not avail to compare:

        <% apps.each do |app| %>
        <dl class="dl-horizontal">
          <dt>Remote:</dt><dd><%= app.git_remote_origin_url %></dd>
          <dt>Sha:</dt><dd><%= app.git_sha %></dd>
          <dt>Version:</dt><dd><%= app.git_version %></dd>
          <dt>Path:</dt><dd><%= app.path %></dd>
        </dl>
        <% end %>
      </td>
    </tr>
    <% elsif apps.first.git_version != apps.last.git_version %>
    <tr>
      <td><%= name %></td>
      <td>
        <dl class="dl-horizontal">
          <dt>Remote:</dt><dd><%= apps.first.git_remote_origin_url %></dd>
          <dt>Sha:</dt><dd><%= apps.first.git_sha %></dd>
          <dt>Version:</dt><dd><%= apps.first.git_version %></dd>
          <dt>Path:</dt><dd><%= apps.first.path %></dd>
        </dl>
      </td>
      <td>
        <dl class="dl-horizontal">
          <dt>Remote:</dt><dd><%= apps.last.git_remote_origin_url %></dd>
          <dt>Sha:</dt><dd><%= apps.last.git_sha %></dd>
          <dt>Version:</dt><dd><%= apps.last.git_version %></dd>
          <dt>Path:</dt><dd><%= apps.last.path %></dd>
        </dl>
      </td>
      <td>
        <p><%= compare_versions_github_link(apps.last, apps.first) %></p>
        <p><%# compare_versions_github_link(apps.first, apps.last) %></p>
      </td>
    </tr>
    <% else %>
      <%# FIXME: if versions same but remotes differ, this doesn't do anything %>
      <tr class="text-muted">
        <td><%= name %></td>
        <td><%= apps.first.git_version %></td>
        <td><%= apps.last.git_version %></td>
        <td>
          <%= "#{apps.first.git_remote_origin_url} - #{apps.first.git_sha}"%>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
